* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
}

.col {
  background: #282c34;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h4 {
  padding: 10px;
  color: #eaeaea;
  font-size: 17px;
  border-radius: 10px;
  transition: background 0.2s;
}

.col h4:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.15rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
